{% extends "base.html" %}
{% block title %}Inicio{% endblock title %}
{% block cuerpo %}
<div class="auth-box">
    {% if login %}
    <h2>{{ahora}}</h2>
    <form action="{{url_for('cliente_bp.login')}}" method="POST">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="contraseña">
        </div>
        <div class="form-footer">
            <input type="submit" value="Iniciar Sesion">
            <a class="switch-auth" href="{{ url_for('cliente_bp.registro') }}">Registrarse</a>
        </div>
        {{error}}
    </form>
    {% elif registrar %}
    {{error}}
    <h2 class="text-center">Registrarse</h2>
    <form action="{{url_for('cliente_bp.registro')}}" method="POST">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="contraseña1">
        </div>
        <div class="form-group">
            <label>Confirma Contraseña</label>
            <input type="password" name="contraseña2">
        </div>
        <div class="form-footer">
            <input type="submit" value="Registrarse">
            <a class="switch-auth" href="{{ url_for('cliente_bp.login') }}">Iniciar Sesion</a>
        </div>
    </form>

    {% endif %}
</div>
{% endblock cuerpo %}